*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
}
body{
  box-sizing: border-box;
}
nav{
  background-color: #F4F8FB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.official-logo{
  height: auto;
  width: 80px;
}
ul{
  display: flex;
  list-style: none;
  font-size: 2rem;
  align-items: center;
}
li{
  margin: 1rem;
}
li:first-child{
  margin-left: 0;
}
li a{
  text-decoration: none;
  color: black;
}
.Login-btn{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Login-btn a{
  font-size: 2rem;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
.SignUp-btn{
  background-color: #aab6f1;
  padding: 10px;
  border-radius: 25px;
}
.SignUp-btn a{
  color: white;
  margin-right: 0;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
}
.first-grp{
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top right,white,#F4F8FB);
}
.second-grp{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top right,#dbe1ff,#F4F8FB);
}
.first-grp h1{
  margin-left: 140px;
  margin-top: 50px;
  font-size: 30px;
}
.first-grp h2{
  margin-left: 140px;
  font-size: 15px;
  margin-top: 20px;
  font-weight: normal;
}
.first-grp form h1{
  font-size: 25px;
  font-weight: lighter;
}
label{
  display: block;
  margin-left: 140px;
  margin-top: 25px;
  font-size: 12px;
  font-weight: 500;
}
input{
  margin-left: 140px;
  margin-top: 5px;
  width: 70%;
}
textarea{
  margin-left: 140px;
  margin-top: 5px;
}
.submit-btn{
  display: block;
  margin-left: 200px;
  margin-top: 25px;
}
.second-grp h1{
  font-weight: 500;
}
.card{
  width: 30vw;
  padding: 5px;
  height: 120px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.card img{
  width: 150px;
}
.card-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 5px;
  justify-content: center;
}
.card-text p{
  display: block;
  font-size: 13px;
}
.card-text h1{
  margin-bottom: 4px;
}
